*{
    background-color: black;
}

@font-face {
    font-family: 'digital-7';
    src: url(./font/digital-7.ttf);
}

#clock{
    color: rgb(255, 255, 255);
    font-size: 200px;
    font-family: 'digital-7';
    border: 20px solid rgb(221, 221, 221);
    border-radius: 20px;
}

@media (max-width: 1150px){
    #clock{
        font-size: 150px;
    }
}

@media (max-width: 950px){
    #clock{
        font-size: 130px;
    }
}

@media (max-width: 780px){
    #clock{
        font-size: 100px;
    }
}

